@font-face {
    font-family: "minecraft-font"; /*a name to be used later*/
    src: url('/fonts/Minecrafter.Alt.ttf'); /*URL to font*/
}

body {
	font-family: "minecraft-font";
	background: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

img {
	width: 200px;
	height: 200px;
}

#steve-image {
	position: absolute;
	/*z-index: 9999;*/

}

.gameboard {
	display: table;
	margin: 0 auto;
	position: relative;
}

.block {
	
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 1px solid transparent;
}

.title {
	text-align: center;
	text-shadow: 1px 0 white, 0 1px black, 5px 0 black, 0 -1px white;
}

.start-button {
	position:absolute;
	padding: 10px 25px 10px 25px;
	margin-left: 460px;
	background-color: #CCA37A;
}

.start-button:focus {
	outline: none;
}